body {
  margin: 0;
  padding: 0;
  background: #14495e;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 240px;
  height: 120px;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.ball {
  width: 80px;
  height: 80px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar > li > .dropdown-menu { background-color: #555555; }

.navbar > li > .dropdown-menu a{   color: #fff;  }
.navbar > li > .dropdown-menu a:hover{   color: #555555;  }


.nav-link {
  color: #fff;
  font-size: 1rem;
}

.float-end a{
  color: #fff;
  font-size: 1rem;
}

.nav-link:hover {
  color: rgb(172, 172, 172);
}
.nav-link:focus {
  color: rgb(172, 172, 172);
}

.nav-link .active {
  color: #fff;
  border-bottom-color: #fff;
}

.bg-medium {
  background-color: #d4d4d4;
}

.footer {
  color: #fff;
}